html {
  min-height: 100%;
  background: linear-gradient(to bottom right, red, orange, yellow, lightgreen, turquoise, purple);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
}

canvas {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 6px;
  border-color: black;
  border-style: solid;
}